src/HYPDM/AutoCadPlugins/Service References/PDMService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.8:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HYPDM.Res.Tools" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HYPDM.Res.Tools" minOccurs="0" name="LoginResult" nillable="true" type="q1:ResultObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>