src/HYPDM/AutoCadPlugins/Service References/PDMService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HYPDM.Res.Tools" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HYPDM.Res.Tools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AckResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrMessageStackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultObject" nillable="true" type="tns:ResultObject" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
</xs:schema>